body {
    margin: 60px auto;
    width: 70%;
    color: #000000;
    background: url('https://live.staticflickr.com/65535/48917458353_a2033c9178_w.jpg');
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {    
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #555;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #000000;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.header {
  padding: 0px;
  margin: 0px;
  text-align: left;
  background: #999;
  color: #000000;
  font-family:'Helvetica', 'Arial Black', 'Sans-Serif';
  font-size: 20px;
  position: static;
  width: 100%;
  top: 0;
}

.stamp {
	color: #555;
	font-size: 2em;
	font-weight: bolder;
	font-family:'Arial Black', 'Sans-Serif';
	display: inline-block;
	padding: 0.25rem 1rem;
	text-transform: lowercase;
	-webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
	-webkit-mask-size: 944px 604px;
	mix-blend-mode: multiply;
}
    
.container { 
	border-top: 1px solid #d5d5d5;
}
	
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover, a:hover {
  opacity: 0.7;
}

@import url(manni.css);
